.spinner{
    margin-top: 15%;
    display: flex;
    justify-content: center;
}
.spinning{
    animation: giro 1s linear infinite;
}

@keyframes giro {
    to {
        transform: rotate(360deg);
    }
}